__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
ENV/

.ipynb_checkpoints/

*.pbix.lock
*.tmp

*.ldf
*.mdf
*.ndf
*.bak

raw_data/
temp_data/
exports/

*.csv.tmp

.vscode/

Thumbs.db
Desktop.ini

logs/
*.log

.env
.env.*

.cache/
